<div class="card p-4">
    <div class="d-flex justify-content-between">
        <h2 class="card-title">Hard & Soft Skills</h2>
        <a class="material-icons btn px-0 pe-lg-3">
            add
        </a>
    </div>

    <div class="mx-5">
        <div class="row g-2">
            <div class="col-sm-10 text-center">
                <h6>HTML</h6>
            </div>
            <div class="col-sm-2 text-end justify-content-sm-evenly">
                <a class="material-icons btn p-0">
                    drive_file_rename_outline
                </a>
                <a class="material-icons btn p-0">
                    delete_outline
                </a>
            </div>
        </div>
        <div class="progress mx-5 px-auto mb-4">
            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
        </div>

        <div class="row g-2">
            <div class="col-sm-10 text-center">
                <h6>CSS</h6>
            </div>
            <div class="col-sm-2 text-end justify-content-sm-evenly">
                <a class="material-icons btn p-0">
                    drive_file_rename_outline
                </a>
                <a class="material-icons btn p-0">
                    delete_outline
                </a>
            </div>
        </div>
        <div class="progress mx-5 px-auto mb-4">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
        </div>

        <div class="row g-2">
            <div class="col-sm-10 text-center">
                <h6>JS</h6>
            </div>
            <div class="col-sm-2 text-end justify-content-sm-evenly">
                <a class="material-icons btn p-0">
                    drive_file_rename_outline
                </a>
                <a class="material-icons btn p-0">
                    delete_outline
                </a>
            </div>
        </div>
        <div class="progress mx-5 px-auto mb-4">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
        </div>

        <div class="row g-2">
            <div class="col-sm-10 text-center">
                <h6>Bootstrap</h6>
            </div>
            <div class="col-sm-2 text-end justify-content-sm-evenly">
                <a class="material-icons btn p-0">
                    drive_file_rename_outline
                </a>
                <a class="material-icons btn p-0">
                    delete_outline
                </a>
            </div>
        </div>
        <div class="progress mx-5 px-auto mb-4">
            <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
            </div>
        </div>
    </div>
</div>