<div class=" card p-4" style="width: auto;">
    <div class="d-flex justify-content-between">
        <h2 class="card-title">Experiencia</h2>
        <a href="" class="material-icons btn px-0 pe-lg-3">
            add
        </a>
    </div>

    <div class="row g-2 my-4 ms-4 me-2">
        <div class="col-md-2">
            <img src="assets/images/exp2.png" width="130" height="auto" class="img-fluid" alt="...">
        </div>
        <div class="col-md-10">
            <div class="card-body p-0 mx-2">
                <div class="row d-flex justify-content-between">
                    <div class="col-sm-11">
                        <h5 class="card-title">Administración de obra</h5>
                    </div>
                    <div class="col-sm-1 d-flex justify-content-sm-evenly">
                        <a class="material-icons btn p-0">
                            drive_file_rename_outline
                        </a>
                        <a class="material-icons btn p-0">
                            delete_outline
                        </a>
                    </div>
                </div>
                <p class="card-text">Chediack Ingenem - Jornada completa
                    <br>
                    may. 2021 - dic. 2021 · 8 meses
                    <br>
                    Argentina
                </p>
            </div>
        </div>
    </div>

    <div class="row g-2 my-4 ms-4 me-2">
        <div class="col-md-2">
            <img src="assets/images/exp1.png" width="130" height="auto" class="img-fluid" alt="...">
        </div>
        <div class="col-md-10">
            <div class="card-body p-0 mx-2">
                <div class="row d-flex justify-content-between">
                    <div class="col-sm-11">
                        <h5 class="card-title">Oficina Técnica / Producción</h5>
                    </div>
                    <div class="col-sm-1 d-flex justify-content-sm-evenly">
                        <a class="material-icons btn p-0">
                            drive_file_rename_outline
                        </a>
                        <a class="material-icons btn p-0">
                            delete_outline
                        </a>
                    </div>
                </div>
                <p class="card-text">Green S.A. Ceosa - Jornada completa
                    <br>
                    jun. 2017 - may. 2019 · 2 años
                    <br>
                    Argentina
                </p>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-between">
        <h2 class="card-title mt-2">Educación</h2>
        <a class="material-icons btn px-0 pt-2 pe-lg-3">
            add
        </a>
    </div>

    <div class="row g-2 my-4 ms-4 me-2">
        <div class="col-md-2">
            <img [src]="miPortafolio.education.img" width="80" height="auto" class="img-fluid" alt="...">
        </div>
        <div class="col-md-10">
            <div class="card-body p-0 mx-2">
                <div class="row d-flex justify-content-between">
                    <div class="col-sm-11">
                        <h5 class="card-title">{{miPortafolio.education.school}}</h5>
                    </div>
                    <div class="col-sm-1 d-flex justify-content-sm-evenly">
                        <a class="material-icons btn p-0">
                            drive_file_rename_outline
                        </a>
                        <a class="material-icons btn p-0">
                            delete_outline
                        </a>
                    </div>
                </div>
                <p class="card-text">{{miPortafolio.education.title}}
                    <br>
                    {{miPortafolio.education.start}} - {{miPortafolio.education.end}}
                </p>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-between">
        <h2 class="card-title mt-2">Cursos</h2>
        <a class="material-icons btn px-0 pt-2 pe-lg-3">
            add
        </a>
    </div>

    <div class="row g-2 my-4 ms-4 me-2">
        <div class="col-md-2">
            <img src="assets/images/inti.png" width="130" height="auto" class="img-fluid" alt="...">
        </div>
        <div class="col-md-10">
            <div class="card-body p-0 mx-2">
                <div class="row d-flex justify-content-between">
                    <div class="col-sm-11">
                        <h5 class="card-title">Argentina programa</h5>
                    </div>
                    <div class="col-sm-1 d-flex justify-content-sm-evenly">
                        <a class="material-icons btn p-0">
                            drive_file_rename_outline
                        </a>
                        <a class="material-icons btn p-0">
                            delete_outline
                        </a>
                    </div>
                </div>
                <p class="card-text">INTI
                    <br>
                    feb. 2022 - actualidad
                </p>
            </div>
        </div>
    </div>

    <div class="row g-2 my-4 ms-4 me-2">
        <div class="col-md-2">
            <img src="assets/images/mumuki.png" width="80" height="auto" class="img-fluid" alt="...">
        </div>
        <div class="col-md-10">
            <div class="card-body p-0 mx-2">
                <div class="row d-flex justify-content-between">
                    <div class="col-sm-11">
                        <h5 class="card-title">Argentina programa</h5>
                    </div>
                    <div class="col-sm-1 d-flex justify-content-sm-evenly">
                        <a class="material-icons btn p-0">
                            drive_file_rename_outline
                        </a>
                        <a class="material-icons btn p-0">
                            delete_outline
                        </a>
                    </div>
                </div>
                <p class="card-text">Mumuki
                    <br>
                    Expedición: oct. 2021 · Sin fecha de vencimiento
                    <br>
                    ID de la credencial VF108C_TinPKGtVU
                </p>
            </div>
        </div>
    </div>

</div>